<div class="upper-wrapper" [ngClass]="{'scrolled': scrolled}">
    <mat-toolbar id="nav">
        <span id="title">ECommerce</span>
        <ul class="inline-list">
            <li><a>Products</a></li>
            <li><a routerLink="/brands">Brands</a></li>
            <li><a>Orders</a></li>
            <li><a>Cart</a></li>
            <li><a>Login</a></li>
            <li><a>Register</a></li>
        </ul>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleSidenav()" *ngIf="isMobile">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar>
      
      <div class="upper-section">
        <div class="main-text">
            <h1>Buy Best Products From <br>All Of The World</h1>
            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h5>
            <div class="example-button-row" id="main-buttons">
                <button mat-fab extended color="white">
                  <mat-icon>menu</mat-icon>
                  Products
                </button>
                <button mat-fab extended color="white">
                    <mat-icon>favorite</mat-icon>
                    Signup
                </button>
            </div>
        </div>
        <div class="main-image">
            <img src="assets/images/img.png">
        </div>
      </div>
</div>
