<mat-grid-list cols="{{cols}}" rowHeight="575px" gutterSize="40px">
    <mat-grid-tile *ngFor="let product of allProducts">
        <mat-card class="example-card">
        <img mat-card-image src="{{product.imageUrl}}">
        <mat-card-content style="border-top: 0.3px solid rgb(68, 68, 68);">
            <h1>{{product.name}}</h1>
          <p id="description">
           {{product.description}}
          </p>
          <p>Price: <strong>{{product.price}} RSD</strong></p>
          <p>Category: <strong>{{product.category}}</strong></p>
          <p>Brand: <strong>{{product.brandName}}</strong></p>
        
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button>Add to cart</button> 
          <!-- <div class="imageContainer">
            <img src="{{product.brandImage}}" id="brandImage">
          </div>     -->
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile> 
  </mat-grid-list>
