/* You can add global styles to this file, and also import other style files */

html, body {  background-color: rgb(245, 245, 247); }
body { margin: 0; max-width: 2000px; margin: auto;}

@media only screen and (max-width: 500px) {
   
}